*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
          width: 100vw;
          height: 100vh;
          /* background-color: aquamarine; */
          background: #003973;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

          border: 2px solid black;
          display: flex;
          /* grid-template-rows: repeat(2,1fr);
          grid-template-columns: repeat(3,1fr ); */
          justify-content: center;
          align-items: center;
          gap: 10px;
}
.box{
         width: 400px;
         height: 600px;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         gap: 10px;
         /* background-color: bisque; */
         background: #F7F8F8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACBB78, #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

         border: 2px solid black;
         border-radius: 10px;
         box-shadow: 2px 2px 10px black;
         padding: 20px;
}
.box img{
    width: 330px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(113, 167, 198);
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: none;
    transition-timing-function: linear;
  
}
.box img:hover{
    transform: scale(1.1);
}
.box p{
    padding: 10px;
    margin: 10px;
    /* font-size: 1.5rem; */
}
.box h1{
    font-size: 3rem;
    margin-left: 30px;
}